/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  margin: 0;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px 40px 40px 40px
}

form label {
  font-weight: bold;
}

form select,
form input {
  flex: 1.5;
  margin-bottom: 20px;
  width: 200px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div {
  display: flex;
}

input[type="text"] {
  width: 100px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  
  /* -------  Navigation ------- */

  header {
    display: flex;
    padding: 20px;
  }

  .logo {
    flex: 1;
    line-height: 1;
    text-align: left;
  }

  header nav {
    flex: 1;
    justify-content: right;
  }

  header nav ul {
    font-size: 24px;
  }
  
  /* -------  Search Form ------- */

  form {
    flex-direction: row;

  }

  form div {
    flex-direction: column;
    flex: 2;
  }

  form button {
    flex: 1;
  }

  input[type="text"] {
    width: 200px;
  }
  
  /* ---  Groups & Items --- */

  .group {
    flex-direction: row;
    align-items: center;
  }

  .item-double {
    flex: 2;
  }
}
